*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}


body {
    background-size:cover;
    color: white;
    margin:0;
    background-image:url("../imagenes/pexels-photo-3648850.webp");
    
}

header{
    background-image:url("../imagenes/pexels-photo-2117938.jpeg");
    background-size:cover;
    padding-top:19px;
    display: flex;
    width: 100% ;
    height:10%;
    margin:0px;
    padding-bottom: 3%;
    
} 
ul {
    list-style-type: none;
}

#log{
    border:2px solid rgb(255, 255, 255) ;

    height:auto;
    width: 80%;
    margin-left:1rem;
}
.navegador{
    display:flex;
    width:100%;
    justify-content:flex-end;
    align-items:center;
    margin-right:1rem;
}

.barra_de_navegacion li a{
    text-decoration:none;
    color:inherit
}

.items{
    display:inline-block;
    padding-left: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 1.5rem;
    border-left:  1px solid rgb(255, 255, 255);
    margin: .5rem;
    
}
main{
    display:flex ;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    
}
h1 {
   
    font-size: 50px;
    color:white;
    text-decoration: 2px underline #393646;
    margin: 1rem;
}
.parrafo{
    display:flex;
    justify-content:center;
    text-align:center;
    font-size:30px;
    color:white;
    margin:2rem;
}
h2{
    width: 90%;
    background: #F0F0F0;
    margin: 1rem;
    color:black;
    display:flex;
    justify-content:center;
    border: 2px solid white;
    border-radius: 10px;
    
}
.palabras {
    display: flex;
    justify-content:center;
    font-family: 'Castoro Titling', cursive;
    font-size: 20px;
}


.nombres{
    font-size:20px;
}
.fotos{
    display:flex;
    justify-content:center;
  
    width: 100%;

}
.fotos div{  
    flex-direction:column;
    align-items:center;
    display: flex;
    width: 100%;
    margin: 2rem;
    
}
.imagenes{
    width: 20rem;
    background-color: aqua;
    border:2px solid white;
    border-radius: 10px;
}
.fotos2{
    width: 100%;
    display: flex;
    justify-content: center;
    gap:3%;

}
.card{
    text-align: center;
}


.imagenes-profes{
    width: 250px;
    height: 280px;
    /* margin:50px; */
    border:2px solid white;
    border-radius: 10px;
}

.contendora{
    display:flex ;
    flex-direction: column;
    align-items:center;

}
.opciones{
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cada-opcion{
    display: flex;
   /*  gap: 10px */;
}
.texto{
   
    font-size:20px;
    text-align:center;
    font-family: 'Alkatra', cursive;
    width: 40rem;
    height: 30rem;
    background: #393646;
    padding: .5rem;
    box-sizing: border-box;  
    border-radius: 20px;
    border: 3px solid white;
    display: flex;
    color: white;
    justify-content:center;
    align-items: center;
    margin:10px;  
}


.opcion{
    font-size:20px;
    text-align:center;
    font-family: 'Alkatra', cursive;
    width: 400px;
    height: 400px;
    background: #393646;
    padding: 8px;
    border-radius: 20px;
    border: 3px solid white;
    display: flex;
    color: white;
    align-items: center;
    margin:10px;
}
.contacto{
    width:100%;
    display:flex;
    flex-direction: column;
    align-items:center;
}
.mb-3{
    width:80%
}
.formulario{
    display:flex;
    flex-direction:column;
    width:100%;
    justify-content: center;
    align-items: center;
}

.formulario input{
    margin: 5px;
    color:white;
    background: #393646;
    width: 50%;
    border-radius:20px;
    border:2px solid white;
    padding:20px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    text-align:center;
}
.formulario .button{
    width:20%;
    display: flex;
    align-items:center;
    color:black;
    background: #F0F0F0;
    border:3px solid white;
    
}

.pie-de-pagina{
   
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center; 
}
.pie-de-pagina a{
    background:beige;
    color:black;
    font-family: 'Castoro Titling', cursive;
    display:inline;
    border: 2px double black;
    border-radius:10px;
    padding:4px;
}

.datos{
    color: white;
    font-family: 'Alkatra', cursive;
    font-size:18px;
    padding:.7rem;
   
    display:flex;
    
}
.datos li{
    background:beige;
    color:black;
    font-family: 'Castoro Titling', cursive;
    display:inline;
    border: 2px double black;
    border-radius:10px;
    padding:4px;
 
}


#fin{
    font-family: 'Alkatra', cursive;
    background-image:url("../imagenes/pexels-photo-2117938.jpeg");
    background-size:cover;
    color:black;
    display:flex;
    justify-content:center;
    height:10%;
    margin-top: 20px;
    margin-bottom:0;
    align-items:center;
}

/*TABLET*/

@media screen and (max-width:850px){
  
    body{
        display:flex ;
        flex-direction: column;
    }

    header{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;
        width: 100%;
    } 
    .navegador{
        display:flex;
        justify-content:center;
        align-items:center;
        margin-right:0;
    }
    .items{
        font-size: 1rem;
    }
    #logo{
        border:2px solid white;
        height:auto;
        width: 15rem;
        margin-left:0;
      
    }
    h1{
        font-size: 25px;
    }
    .parrafo{
        font-size:18px;
    }
    
    .fotos{
        display:flex;
        flex-direction: column;
        justify-content:center;
        width: 80%;
        margin:0;
    }
    .fotos2{
        display:flex;
        flex-direction: column;
        justify-content:center;
        align-items:center;
        width: 80%;
        Gap:3%;
        
    }
 
    .cada-opcion{
        display: flex;
        flex-direction: column;
    }
    .texto{
   
        font-size:16px;
        width: 20rem;
        height: auto;
    }
   .datos{
    font-size:14px;
    display: flex;
    flex-direction:column;
   }
   .datos li{
    display: flex;
    flex-direction: column;
    text-align: center;
}
}

/* CELULAR */

@media screen and (max-width:424px){
    .navegador ul li{
        display:block;
        width:100%;
    }
    header{
        display: flex;
        justify-content: center;
        align-items:center;
    }
    .barra_de_navegacion{
        width: 100%;
        margin-left: 0;;
    }
    .items{
        border:2px solid rgb(0, 0, 0);
   
        font-size: 1rem;
        border-left:  none;
        margin:5px 0;
        text-align: center;
        
    }
}
