/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* UTILITIES y MIXIN */
/* LAYOUT */
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.parrafo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-direction: row;
  text-align: center;
  font-size: 30px;
  color: white;
  margin: 2rem;
}

.palabras {
  display: flex;
  justify-content: center;
  font-family: "Castoro Titling", cursive;
  font-size: 20px;
}

.fotos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-direction: row;
  width: 100%;
}
.fotos div {
  flex-direction: column;
  align-items: center;
  display: flex;
  width: 100%;
  margin: 2rem;
}

.fotos2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  flex-direction: row;
  gap: 3%;
}

.contendora {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.contacto {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contacto .mb-3 {
  width: 80%;
}
.contacto .col-12 {
  width: 100%;
  display: flex;
  justify-content: center;
}
.contacto .col-12 .btn {
  display: flex;
  justify-content: end;
  color: black;
  background: #F0F0F0;
  border: 3px solid white;
}

.row {
  display: flex;
  flex-wrap: wrap;
}
.row div {
  font-size: 20px;
  text-align: center;
  font-family: "Alkatra", cursive;
  background: linear-gradient(to left, #000000, #434343);
  padding: 1rem;
  border-radius: 20px;
  border: 3px solid white;
  color: white;
}

/* HEADER */
header {
  background: linear-gradient(to left, #292E49, #536976, #BBD2C5);
  padding-top: 19px;
  display: flex;
  width: 100%;
  height: 10%;
  margin: 0px;
  padding-bottom: 3%;
}

.navegador {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  margin-right: 1rem;
}

.barra_de_navegacion {
  list-style-type: none;
}
.barra_de_navegacion .items {
  display: inline-block;
  padding-left: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 1.5rem;
  border-left: 1px solid rgb(255, 255, 255);
  margin: 0.5rem;
}
.barra_de_navegacion a {
  text-decoration: none;
  color: inherit;
}

a:visited.active {
  color: black;
}

#log {
  border: 2px solid rgb(255, 255, 255);
  height: auto;
  width: 80%;
  margin-left: 1rem;
}

/* BODY */
body {
  background-size: cover;
  color: white;
  margin: 0;
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
}

h1 {
  font-size: 50px;
  color: white;
  -webkit-text-decoration: 2px underline #393646;
          text-decoration: 2px underline #393646;
  margin: 1rem;
}

h2 {
  width: 90%;
  background: #F0F0F0;
  margin: 1rem;
  color: black;
  display: flex;
  justify-content: center;
  border: 2px solid white;
  border-radius: 10px;
}

.nombres {
  font-size: 20px;
}

.imagenes {
  width: 20rem;
  background-color: aqua;
  border: 2px solid white;
  border-radius: 10px;
}

.card {
  text-align: center;
  color: black;
  width: 18rem;
}
.card img {
  height: 70%;
}

.texto {
  font-size: 20px;
  text-align: center;
  font-family: "Alkatra", cursive;
  width: 40rem;
  height: 30rem;
  background: linear-gradient(to left, #000000, #434343);
  padding: 0.5rem;
  box-sizing: border-box;
  border-radius: 20px;
  border: 3px solid white;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.col-4 {
  width: 30%;
  margin: 1rem;
}

/* FOOTER */
.contenedor-iconos {
  display: inline-block;
}
.contenedor-iconos .imagenes-iconos {
  width: 5rem;
  margin: 3rem;
}

#fin {
  font-family: "Alkatra", cursive;
  background: linear-gradient(to left, #292E49, #536976, #BBD2C5);
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 10%;
  margin-top: 20px;
  margin-bottom: 0;
  align-items: center;
}
#fin .derechos {
  padding-top: 2rem;
}

/* MEDIAS QUERIES */
/*TABLET*/
@media screen and (max-width: 1100px) {
  body {
    display: flex;
    flex-direction: column;
  }
  header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .navegador {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0;
  }
  .items {
    font-size: 1rem;
  }
  h1 {
    font-size: 25px;
  }
  .parrafo {
    font-size: 18px;
  }
  .fotos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    margin: 0;
  }
  .fotos2 {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  .col-4 {
    width: 40%;
  }
  .texto {
    font-size: 16px;
    width: 20rem;
    height: auto;
  }
}
@media screen and (max-width: 700px) {
  .contenedor-iconos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .container {
    width: 100%;
  }
  .row {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .row div {
    width: 80%;
  }
}
@media screen and (max-width: 774px) {
  .container {
    width: 100%;
  }
  .row {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .row div {
    width: 80%;
  }
}
/* CELULAR */
@media screen and (max-width: 600px) {
  .navegador .barra_de_navegacion {
    width: 80%;
    margin-left: 0;
    padding-left: 0%;
  }
  .navegador .barra_de_navegacion .items {
    display: block;
    width: 100%;
    border: 2px solid rgb(0, 0, 0);
    margin: 0.5rem 0rem;
    font-size: 1rem;
    text-align: center;
  }
  header {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  header a {
    display: flex;
    justify-content: center;
  }
  header a #log {
    margin-left: 0;
  }
  .fotos div {
    margin: 0rem;
  }
}/*# sourceMappingURL=styles.css.map */