
header {
    background-image: url("../imagenes/pexels-photo-2117938.jpeg");
    background-size: cover;
    padding-top: 19px;
    display: flex;
    width: 100%;
    height: 10%;
    margin: 0px;
    padding-bottom: 3%;

}