#fin {
    font-family: 'Alkatra', cursive;
    background:map-get($paleta_de_colores, primario );
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 10%;
    margin-top: 20px;
    margin-bottom: 0;
    align-items: center;

        .derechos {
             padding-top: 2rem;

         }
}