#fin {
    font-family: 'Alkatra', cursive;
    background: linear-gradient(to left, #292E49, #536976, #BBD2C5);
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 10%;
    margin-top: 20px;
    margin-bottom: 0;
    align-items: center;

        .derechos {
             padding-top: 2rem;

         }
}