.datos {
    color: white;
    font-family: 'Alkatra', cursive;
    font-size: 18px;
    padding: .7rem;

    display: flex;

}

.datos li {
    background: beige;
    color: black;
    font-family: 'Castoro Titling', cursive;
    display: inline;
    border: 2px double black;
    border-radius: 10px;
    padding: 4px;

}