/* CELULAR */

@media screen and (max-width:600px) {
    .navegador{
        .barra_de_navegacion{
            width: 80%;
            margin-left: 0;
            padding-left: 0%;
            .items{
                display: block;
                width: 100%;
                border: 2px solid rgb(0, 0, 0);
                margin:  0.5rem 0rem;
                font-size: 1rem;
                text-align: center;
            }
        }
    }
    header {
        display: flex;
        justify-content: center;
        align-items: center;   
        a{
            display:flex;
            justify-content: center;
            #log{
                margin-left: 0;
            }
        }
    }
    .fotos {
        div {
            margin: 0rem;
        
        }
    
    }
    
}