h1 {

    font-size: 50px;
    color: white;
    text-decoration: 2px underline #393646;
    margin: 1rem;
}
h2 {
    width: 90%;
    background: #F0F0F0;
    margin: 1rem;
    color: black;
    display: flex;
    justify-content: center;
    border: 2px solid white;
    border-radius: 10px;

}
.nombres {
    font-size: 20px;
}
.imagenes {
    width: 20rem;
    background-color: aqua;
    border: 2px solid white;
    border-radius: 10px;
}
.card {
    text-align: center;
}
.imagenes-profes {
    width: 250px;
    height: 280px;
    /* margin:50px; */
    border: 2px solid white;
    border-radius: 10px;
}
.texto {

    font-size: 20px;
    text-align: center;
    font-family: 'Alkatra', cursive;
    width: 40rem;
    height: 30rem;
    background: #393646;
    padding: .5rem;
    box-sizing: border-box;
    border-radius: 20px;
    border: 3px solid white;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
.opcion {
    font-size: 20px;
    text-align: center;
    font-family: 'Alkatra', cursive;
    width: 400px;
    height: 400px;
    background: #393646;
    padding: 8px;
    border-radius: 20px;
    border: 3px solid white;
    display: flex;
    color: white;
    align-items: center;
    margin: 10px;
}

.formulario input {
    margin: 5px;
    color: white;
    background: #393646;
    width: 50%;
    border-radius: 20px;
    border: 2px solid white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.mb-3 {
    width: 80%
}
