h1 {

    font-size: 50px;
    color: white;
    text-decoration: 2px underline #393646;
    margin: 1rem;
}
h2 {
    width: 90%;
    background: #F0F0F0;
    margin: 1rem;
    color: black;
    display: flex;
    justify-content: center;
    border: 2px solid white;
    border-radius: 10px;

}
.nombres {
    font-size: 20px;
}
.imagenes {
    width: 20rem;
    background-color: aqua;
    border: 2px solid white;
    border-radius: 10px;
}
.card {
    text-align: center;
    color:black;
}
.texto {

    font-size: 20px;
    text-align: center;
    font-family: 'Alkatra', cursive;
    width: 40rem;
    height: 30rem;
    background:map-get($paleta_de_colores, terciario );
    padding: .5rem;
    box-sizing: border-box;
    border-radius: 20px;
    border: 3px solid white;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
